<style>
body {
  background-color: #262627;
  color: #dddddd;
}

.check
{
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
  position:relative;
  margin-right: -44px;
  left: -44px;
  color:#33FF33;
  font-size:48px;
}
</style>

<div style="width:95%; max-width:1000px; margin-left:auto;margin-right:auto;">

  <h1><%= @name %>'s grid</h1>

  <p><%= @games.count %> games</p>

  <div>
    <% @games.each do |game| %>
      <span>
        <img onerror='this.style.display="none"' style="margin:0px 0px 0px 0px" width='19%' src='http://cdn4.steampowered.com/v/gfx/apps/<%= game["appid"] %>/header.jpg' />
        <% if game["playtime_forever"] > 1 %>
          <span class="check">&#x2713;</span>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
