<h1>steam grid generator</h1>

<p>Yeah</p>

<form action='/grid'>
  steam id (steamcommunity.com/id/THIS)<br>
  <input type="text" name="id"><br>
  highlight games with more than this many hours played (0 for all)<br>
  <input type="text" name="h" value='0'><br>
  <input type="submit" value="go">
</form>
