<html>
  <head>
    <title>Steam Grid</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</body>
